*{
    margin: 0;
    padding: 0;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
 background-color: #f5f8ff;
}
/* header */
header{

    height: 698px;
    padding:  0 150px;
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
   background-size: cover;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
   padding: 51px 0;

}
.logo{
    font-size: 34px;
    font-weight: 800;
    color: #4E47FF;
}
/* banner */
.banner{
    text-align: center;
    
}
.banner-title{
    font-size:65px;
    font-weight:bold ;
   color: #252432;
   margin-top: 158px;
    margin-bottom: 37px ;
    /* margin: 309px 267px 152px 267px; */
}
/* all-button */
/* nav-button */
.btn-sign{
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight:bold ;
    width: 132px;
    height: 48px;
   
}
button:hover{
    background-color:#f2c60c;
    color: black;
}
/* banner-button */
.btn-stay{
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight:bold ;
    width: 174px;
    height: 48px;
}
/* launch-button */
.btn-launch{
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    width: 229px;
    height: 48px;
}
/* ready-button */
.btn-ready{
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 12px 36px;
    margin: 20px 0;

}
.btn-lets-from{
      color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    width: 520px;
    text-align: center;
   padding: 19px 0;
}
/* productive-user-section */

.productive-user-section{
    margin: 0 150px;
    padding: 50px 0;
   background-color: #e5e7ff;
   border-radius: 24px;
  background-repeat: no-repeat;
}
.product-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
    
}

    .product-number{
        display: flex;
        justify-content: space-around;
    }
    .product-num{
        font-size: 80px;
        font-weight: bold;
        color: #4E47FF;
    }
    .product-letter{
        color: #00000096;
    }
/* feedback */
.feedback{
    
    padding: 0 150px;
}
.feedback-one{
    background-color: #fafcff;
    /* border: 2px solid black; */
    border-radius: 14px;
    width: 346px;
    height: 243px;
    padding: 20px;
     /* padding: 0 150px; */
}
.feedback-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin: 137px 0 50px ;
    text-align: center;

}
.feedback-box{
   display: flex;
    gap: 20px;
    
    background-repeat: no-repeat;
    background-size: cover;
}
.feedback-box-title{
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
    margin-top: 24px;
    margin-bottom: 8px;
}
.feedback-box-description{
    font-size: 16px;
    font-weight: ;
    color: #1E1E1E;
    margin-bottom: 24px;
}
.feedback-box-name{
   font-size: 14px;
    font-weight:bold ;
    color: #757575;
    margin-left: 12px;
    margin-bottom: 2px;
}
.feedback-box-date{
    color: #B3B3B3;
    margin-left: 12px;
}

.feedbacx-box-image{
    display: flex;
}
/* Ready to focus better */
.Ready-to-focus-better{
    padding: 71px 150px;
    background-color: #ffffff;
}
.ready-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.ready-description{
font-size: ;
font-weight: ;
color: #000000be;
margin: 20px 0;
}
.Ready-to-focus-better{
    text-align: center;
}
.ready-image{
    border-radius: 48px;
}


/* action-section */
.action-section{
     padding:  116px 150px;
    display: flex;
    justify-content: space-between;
}
.action-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}
.action-sub-title{
    font-size: 24px;
    font-weight: bold;
    color: #25243294;
    margin: 23px 0;
}
.action-image{
    border-radius: 48px;
    width: 403px;
    height: 328px;

}
.action-one{
    padding: 62px 0;
}
/* lets-get-in-touch-section */
.lets-get-in-touch-section{
    
     padding: 71px 150px;
    display: flex;
    justify-content: space-between;
}

.lets-titile{
    font-size: 70px;
    color: #000000;
    font-weight: bold;
    margin-right: 115px;
    padding: 200px 0;

}
label{
   
    display: block;
    padding-bottom: 10px 0;
}
input{
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    
}
textarea{
    width: 497px;
    height: 135px;
   border-radius: 10px;
   border: 1px solid #D6DDED;
}
.placeholder{
    font-size: 50px;
    
}
.lets-from{
    font-size: 18px;
    
}
.from-fillup{
    margin: 19px 0;
}
.from-placeholder{
    padding-left: 20px;
    margin-top: 10px;
}
/* footer */
footer{
    text-align: center;
    padding: 103px 0;
    background-color: #ffffff;
}
.footer-title{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}
div a{
    text-decoration: none;
    color: #8987A1;
    padding-left: 20px;
}
.footer-description{
    color:  #8987A1;
    margin-bottom: 20px;
}
.footer-box{
    /* padding-left: 65px; */
    /* display: flex;
    justify-content: space-around; */
}